<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
<listeners>
	<listener class-name="com.demo.listeners.TestListener"/>
</listeners>
  <test name="Test">
  <parameter name="emulator" value="true"/>
  <parameter name="platformName" value="Android"/>
  <parameter name="platformVersion" value="9.0"/>
  <parameter name="udid" value="ZY322ZF3Q5"/>
  <parameter name="deviceName" value="Pixel2_Emulator"/>
  <!-- <parameter name="deviceName" value="moto e5_play"/> -->
    <classes>
      <class name="com.demo.tests.LoginTests"/>
      <!-- <methods>
      	<include name = "invalidUserName"/>
      </methods> -->
      <class name="com.demo.tests.ProductTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
